.projects {
  min-height: calc(100vh - 80px);
  width: 100%;
  padding-top: 50px;
  margin-top: 50px;
  padding-bottom: 100px;
  color: white;
  h1 {
    font-size: 60px;
    @media screen and (max-width: 768px) {
      font-size: 50px;
    }
    @media screen and (max-width: 640px) {
      text-align: center;
      font-size: 40px;
    }
  }
  .projectList {
    width: 100%;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 640px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
