.model {
  position: fixed;
  width: calc(100% - 100px);
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 99;
  transform-origin: center;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  @media screen and (max-width: 480px) {
    width: calc(100% - 40px);
  }

  .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      p:first-child {
        transform: translateY(0px);
        animation: backInRight;
        animation-duration: 1s;
      }
      p:last-child {
        transform: translateY(0px);
        animation: backOutLeft;

        animation-duration: 1s;
      }
    }
    &:hover {
      .title {
        p:first-child {
          transform: translateY(-20px);
          animation: backOutLeft;
          animation-duration: 1s;
        }
        p:last-child {
          transform: translateY(-20px);
          animation: backInRight;
          animation-duration: 1s;
        }
      }
    }

    .title {
      height: 20px;
      overflow: hidden;
    }
    .platforms {
      display: flex;

      align-items: center;
      column-gap: 5px;
      svg {
        font-size: 25px;
        cursor: pointer;
      }
    }
  }
  .closeIcon {
    font-size: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  &.open {
    height: calc(100vh - 100px);
    transform-origin: center;
    transition: all 0.5s ease-in-out;
  }

  h2 {
    font-size: 25px;
    font-weight: lighter;
  }
  a {
    font-size: 70px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    cursor: none;
    display: inline-block;
    @media screen and (max-width: 768px) {
      font-size: 50px;
    }
    @media screen and (max-width: 640px) {
      font-size: 40px;
    }
    @media screen and (max-width: 480px) {
      font-size: 30px;
    }

    img {
      display: none;
    }

    &:hover {
      opacity: 0.7;
      img {
        width: 150px;
        height: auto;
        display: block;
        position: fixed;
        color: orange;
        pointer-events: none;
      }
    }
  }
}
