
@font-face {
    font-family: 'Zichtbaar';
    src: url('Zichtbaar-Regular.eot');
    src: url('Zichtbaar-Regular.eot?#iefix') format('embedded-opentype'), url('Zichtbaar-Regular.woff2') format('woff2'), url('Zichtbaar-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
