.projectItem {
  width: 100%;
  height: auto;
  // aspect-ratio: 16/9;
  position: relative;

  &:hover {
    .overlay {
      transition: transform 0.2s ease-in-out;
      transform: scaleY(1);
      transform-origin: center;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    opacity: 1;
    overflow: hidden;
    height: 100%;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
    transform: scaleY(0);
    p {
      font-weight: bold;
      font-size: 20px;
      color: black;
      font-family: "Hind Siliguri", sans-serif;
    }
    p:nth-child(2n) {
      font-family: monospace;
      font-weight: lighter;
      font-size: 15px;
      color: darkslategray;
      padding: 0 50px;
    }

    a {
      text-decoration: none;
      button {
        padding: 5px 15px;
        border: solid 1.5px darkslategray;
        transition: all 0.3s ease-in-out;
        font-family: "Hind Siliguri", sans-serif;
        font-weight: 400;
        font-size: large;
        text-transform: capitalize;
        color: darkslategray;

        &:hover {
          background-color: darkslategray;
          opacity: 1;
          color: white;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
