@use './variable.scss' as v;
.Home {
  width: 100%;
  background-color: black;
  padding-left: 100px;
  padding-right: 100px;
  @media screen and (max-width: 768px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  .header {
    font-family: "Space Mono", monospace;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    background-color: black;

    .des {
      position: relative;
      &.animation-disappear {
        &::after {
          @media screen and (max-width: 420px) {
            opacity: 1;
          }
        }
      }
      &::after {
        color: white;
        content: "A Web developer with a passion for learning and challenging";
        font-size: 50px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate3d(0, -50%, 0);
        opacity: 0;
        transition: all 0.3s ease-in-out;

        @media screen and (max-width: 420px) {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 70px;
        color: white;
        transition: all 0.3s ease-in-out;
        text-align: center;
        &.animation-disappear {
          @media screen and (max-width: 420px) {
            opacity: 0;
          }
        }

        @media screen and (max-width: 768px) {
          font-size: 50px;
        }
        @media screen and (max-width: 640px) {
          font-size: 40px;
        }
        @media screen and (max-width: 480px) {
          font-size: 25px;
        }
        @media screen and (max-width: 420px) {
          font-size: 20px;
        }
      }
      &:hover {
        h2 {
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }
        &::after {
          opacity: 1;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .prompt {
      text-align: center;
      color: v.$primary-color;

      p {
        font-size: 20px;
        margin-bottom: 20px;
      }

      svg {
        font-size: 50px;
        margin-right: 10px;
      }
    }
  }
}
