.project-main {
  padding: 100px;
  padding-top: 50px;
  min-height: calc(100vh - 80px);
  width: 100%;
  color: white;
  @media screen and (max-width: 768px) {
    padding: 50px;
  }
  @media screen and (max-width: 640px) {
    padding-left: 0;
    padding-right: 0;
  }
  h1 {
    text-align: start;
  }
  .project-info {
    display: flex;
    @media screen and (max-width: 640px) {
      flex-direction: column;
    }
    .project-skills {
      flex: 1;
      margin-top: 50px;
      .project-icon {
        margin-top: 20px;
        a {
          position: relative;
          display: inline-block;
          padding-right: 40px;
          &::after {
            content: attr((data-name));
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: gray;
            font-size: 15px;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            font-family: sans-serif;
          }
          &:hover {
            &::after {
              opacity: 1;
              transition: all 0.3s ease-in-out;
            }
            svg {
              opacity: 0;
              transition: all 0.3s ease-in-out;
            }
          }
          svg {
            transition: all 0.3s ease-in-out;
            font-size: 35px;
            color: white;
            pointer-events: none;
          }
        }
      }
    }
    .project-des {
      flex: 2;
      margin-top: 50px;
    }
  }
  .img-div {
    margin-top: 50px;
    width: 100%;
    height: calc(100vh - 80px);
  }
}
