.skills {
  min-height: calc(100vh - 80px);
  width: 100%;
  padding-top: 50px;
  margin-top: 50px;
  color: white;
  font-family: Zichtbaar;
  @media screen and (max-width: 420px) {
    margin-top: 0px;
  }

  h1 {
    font-size: 60px;
    @media screen and (max-width: 768px) {
      font-size: 50px;
    }
    @media screen and (max-width: 640px) {
      text-align: center;
      font-size: 40px;
    }
  }
  .skills-set {
    margin-top: 150px;
    color: gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    @media screen and (max-width: 640px) {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 50px;
    }
    .item {
      margin-top: 10px;
      width: 100%;
      h2 {
        font-size: 25px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
