.about {
  display: flex;
  min-height: calc(100vh - 80px);
  background-color: black;
  color: white;
  overflow: hidden;
  margin-top: 50px;
  @media screen and (max-width: 640px) {
    flex-direction: column;
  }
  .left {
    flex: 1;
    width: 100%;
    margin-top: 50px;
    @media screen and (max-width: 640px) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    h1 {
      font-size: 60px;
      @media screen and (max-width: 768px) {
        font-size: 50px;
      }
      @media screen and (max-width: 768px) {
        font-size: 40px;
      }
    }
    .resume {
      margin-top: 50px;
      .resumeBtn {
        color: gray;
        border: solid 1px gray;
        padding: 5px 20px;
        text-transform: capitalize;
        &:hover {
          background-color: darkslategray;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .intro {
      margin-top: 50px;
      width: 70%;
      max-width: 600px;
      min-width: 300px;
      color: gray;
      font-size: 16px;
    }
  }
  .right {
    flex: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    img {
      width: 70%;
      min-width: 360px;
      object-fit: contain;
      @media screen and (max-width: 768px) {
        min-width: 300px;
      }
    }
  }
}
