@use "../../styles/variable" as v;

.navbar {
  z-index: 89;
  position: fixed;
  top: calc(100% - 80px);
  transition: all 0.5s ease;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;

  &.open {
    height: 100vh;
    flex-direction: column;
    position: fixed;
    top: 0;
    .links {
      height: 50%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      padding-left: 200px;
      padding-right: 200px;
      @media screen and (max-width: 768px) {
        padding-left: 50px;
        padding-right: 50px;
      }
      @media screen and (max-width: 420px) {
        padding-left: 10px;
        padding-right: 10px;
      }
      .nav-item {
        width: 100%;
        text-align: center;
        .nav-item-title {
          overflow: hidden;
          height: fit-content;
          display: inline-block;
          height: 35px;
          position: relative;
          &:hover {
            opacity: unset;
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: white;
            }
            .title-div {
              transform: translateY(-50%);
              transition: all 0.3s ease-in-out;
            }
          }
          .title-div {
            display: flex;
            flex-direction: column;
            transition: all 0.3s ease-in-out;
            span {
              display: inline-block;
            }
          }
        }

        ul {
          padding-top: 20px;
          list-style: none;
          .projectName {
            font-size: 15px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .toggleBtn {
      // p {
      //   display: block;
      // }
      .icon {
        font-size: 35px;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  &.postionSwap {
    top: 0;
    transition: all 0.5s ease;
    box-shadow: 0px 1px 5px rgb(46, 43, 43);
  }

  .toggleBtn {
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    .contact {
      margin-right: 20px;
      font-size: 25px;
      &:hover {
        animation: wobble;
        animation-duration: 0.5s;
      }
    }
    // p {
    //   width: 100%;
    //   text-align: center;
    //   font-size: 40px;
    //   display: none;
    //   @media screen and (max-width: 640px) {
    //     font-size: 30px;
    //   }
    // }
    div {
      display: flex;
      align-items: center;
      column-gap: 10px;

      .icon-menu {
        font-size: 25px;
      }
    }
    .icon {
      font-size: 35px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }

    button {
      margin-left: 20px;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
    }
  }

  .links {
    display: none;
    a {
      color: v.$primary-color;
      font-size: v.$xxl-font;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .navbar-icons {
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    column-gap: 20px;
    .icon {
      font-size: 35px;
      cursor: pointer;
      color: white;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
